body{
	padding-top:12px;
	padding-left: 12px;
	background-color:white;
	font-family: 'helvetica neue';
}


.box{
	font-size:;
  	padding:10px;
 	padding-left: 18px;
	background-color: white;
	border: 0px solid black;
	border-radius: 5px;
	margin-bottom: 1px;
	margin-right: 20px;
	text-align: left;
}


.box:hover{
	background-color: #F7F7F7;
}


.text{
	font-size:;
  	padding:10px;
  	margin-left:4em;
	text-align: left;
}



.pagination{

	background-color:white;
}

.titleHead{
	font-size:23px;
}

.time{
	font-size:11px;
	color:gray;
}


.navbar{
	background-color: red;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color:blue;
}


.col-xs-2 {
    width: 0.66666667%;
}
